@using WebApp.Models.ModelDatabase;
@using Newtonsoft.Json;
@{
    var conditionsDictionary = new Dictionary<Condition, string>
    {
        { Condition.BioToilet, "Био-туалет" },
        { Condition.AllowPets, "Проезд с животными" },
        { Condition.Conditioner, "Кондиционер" }
    };
}

@model IEnumerable<WebApp.Models.ModelViews.WagonViewModel>

<h2>Вагоны</h2>

<div>
	<a asp-action="Index" asp-controller="Ticket">Назад</a>
	@foreach (var wagon in Model)
	{
		<div>
            <div>
                <h3>Wagon Name: @wagon.WagonName</h3>
                <h4>Wagon Type: @wagon.WagonType</h4>
            </div>
            <div>
                <h4>Conditions:</h4>
                <ul>
                    @foreach (var condition in wagon.WagonConditions)
                    {
                        <li>@conditionsDictionary[condition]</li>
                    }
                </ul>
            </div>
                <ul>
                    @foreach (var placement in wagon.WagonPlacements)
                    {
                        <li>
                            <form asp-action="Buy" asp-controller="Wagon" method="post">
                                @Html.Hidden("selectPlace", JsonConvert.SerializeObject(placement))
                                <button type="submit">@placement.PlaceName - @placement.Cost</button>
                            </form>
                        </li>
                    }
                </ul>
        </div>
	}
</div>